.header {
    height: 160px;
    display: flex;
    align-items: center;

    margin-bottom: 5%;

    background-image: url(../img/header.png);
    width: 100%;
    background-position: center;
    background-size: cover;

    padding: 0px 30px;
}
.header__menu {
    margin-top: -40px;
    height: 100%;
}

.header__title {
    font-family: 'Cochin';
    font-weight: 300;
    font-style: normal;
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 4rem;
    margin-left: 20px;
}

@media screen and (max-width: 1440px) {
    .header {
        height: 120px;
        display: flex;
        align-items: center;
    
        margin-bottom: 5%;
    }
    .header__title {
        font-family: 'Cochin';
        font-weight: 300;
        font-style: normal;
        color: var(--yellow);
        text-transform: uppercase;
        font-size: 2rem;
        margin-left: 20px;
    }
}
@media screen and (min-width: 1441px) and (max-width: 1700px) {

    .header__title {
        font-family: 'Cochin';
        font-weight: 300;
        font-style: normal;
        color: var(--yellow);
        text-transform: uppercase;
        font-size: 3rem;
        margin-left: 20px;
    }
}