.questions {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.questions__title {
    font-style: italic;
    font-family: 'Cochin';
    font-size: 3.5rem;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    color: var(--yellow);
    text-align: center;
}

.questions__title::after {
    content: " ";
    background-image: url(../img/line_smail.svg);
    width: 287px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: 287px 21px;
    display: block;
    position: absolute;

    top: 100px;
    left: 30%;
}


.questions__list {
    list-style: none;
    padding: 0px;
    text-align: center;
}
.questions__elem {
    color: var(--yellow);
    font-size: 2rem;
    font-weight: 300;
    font-family: "GothamPro";
    margin: 50px 0px;
    text-transform: uppercase;
}

.questions__links {
    color: var(--yellow);
    text-decoration: none;
    position: relative;
    border: 1px solid transparent;
}

.questions__links:hover {
    outline: 1px solid var(--yellow);
    border-radius: 10px;
    padding: 10px;

}

@media screen and (max-width: 1600px) {
    .questions {
        margin-top: 5%;
    }
    .questions__title {
        font-size: 2.5rem;
    }
    .questions__links:hover {
        outline: 1px solid var(--yellow);
        border-radius: 10px;
        padding: 10px;
    
    }
    .questions__elem {
        color: var(--yellow);
        font-size: 1.4rem;
        font-weight: 300;
        font-family: "GothamPro";
        margin: 30px 0px;
        text-transform: uppercase;
    }
    .questions__title::after {
        content: " ";
        background-image: url(../img/line_smail.svg);
        width: 287px;
        height: 21px;
        background-repeat: no-repeat;
        background-size: 287px 21px;
        display: block;
        position: absolute;
    
        top: 60px;
        left: 30%;
    }
}